<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Componentes introduccion</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <main>
        <!-- <ul>
            <li v-for="tarea in tareasAjax" v-text="tarea.title" ></li>
        </ul> -->
        <h1>Tareas Ajax</h1>
        <mis-tareas :tareas="tareasAjax"></mis-tareas>

        <hr>
        <h1>Tareas locales</h1>
        <mis-tareas :tareas="tareasLocales"></mis-tareas>

        <pre>{{ $data }}</pre>
    </main>
    
    <script>

        Vue.component('mis-tareas', {
            props: ['tareas'],
            template: `<ul><li v-for="tarea in tareas">{{ tarea.title }}</li></ul>`,
        });

        new Vue({
            el: 'main',
            mounted(){
                axios.get('https://jsonplaceholder.typicode.com/todos')
                    .then((respuesta) => {
                        this.tareasAjax = respuesta.data;
                    })
            },
            data: {
                tareasAjax: [],
                tareasLocales: [
                    {title: 'Hacer la compra'},
                    {title: 'Aprender vue'},
                    {title: 'Aprender Javascript ES6'}
                ]
            }
        });
    </script>
</body>
</html>