<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Templates</title>
</head>
<body>
    <main>
        <elegir-ganador :listado="personas"></elegir-ganador>
        <pre> {{ $data }} </pre>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    
    <script>
        Vue.component('elegir-ganador', {
            props: ['listado'],
            // template: "#elegir-ganador-template",
            template: ` <div>
                            <h1 v-if="ganador"> El ganador es: {{ ganador }} </h1>
                            <template v-else>
                                <h1> Participantes </h1>
                                <ul>
                                    <li v-for="persona in listado">{{ persona }}</li>
                                </ul>
                            </template>
                            <button @click="elegirGanador">Elegir ganador</button>
                        </div>`,
            methods:{
                elegirGanador(){
                    let cantidad = this.participantes.length;
                    let indice = Math.floor(Math.random() * cantidad);
                    this.ganador = this.participantes[indice - 1];
                }
            },
            data(){
                return {
                    ganador: false,
                    participantes: this.listado
                }
            }
        });

        new Vue({ 
            el: 'main',
            data: {
                personas: [
                    'Juan', 'Alicia','Pedro', 'Javier','Marcos'
                ]
            }
        });
    </script>

</body>
</html>