<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comunicacion componentes</title>
</head>
<body>
    <main>
        <listado-productos :productos="productos"></listado-productos>   
        <carrito-compra></carrito-compra>
        <hr>
        <pre>{{ $data }}</pre>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const eventBus = new Vue();

        Vue.component('listado-productos', {
            props: ['productos'],
            template: 
            `
            <section>
                <ul>
                    <li v-for="producto in productos">
                        {{ producto.nombre }} - 
                        <small>{{ producto.precio.toFixed(2) }}</small>
                        <button @click="eliminarProducto(producto.precio)">-</button>
                        <button @click="anadirProducto(producto.precio)">+</button>
                    </li>
                </ul>
            </section>
            `,
            methods: {
                anadirProducto(precio){
                    eventBus.$emit('anadir', precio);
                },
                eliminarProducto(precio){
                    eventBus.$emit('eliminar', precio);
                }
            }
        });

        Vue.component('carrito-compra',{
            template: 
                `
                    <section>
                        <h1>{{ total.toFixed(2) }}</h1>
                        <h3>{{ cantidadProductos }} productos</h3>
                    </section>
                `,
            data(){
                return{
                    cantidadProductos: 0,
                    total: 0
                }
            },
            created(){
                eventBus.$on('anadir', (precio) => {
                    // console.log(precio);
                    if(this.total >= 0){
                        this.cantidadProductos += 1;
                        this.total += precio;
                    }
                });
                eventBus.$on('eliminar', (precio) => {
                    // console.error(precio);
                    if(this.total > 0){
                        this.cantidadProductos -= 1;
                        this.total -= precio;
                    }
                });
            }
        });

        new Vue({
            el: 'main',
            data: {
                productos: [
                    {nombre: 'Libro ES6', precio: 39},
                    {nombre: 'Portátil', precio: 1300},
                    {nombre: 'Café', precio: 2},
                    {nombre: 'Auriculares', precio: 80},
                    {nombre: 'Maletin', precio: 19},
                ]
            }
        });
    </script>
</body>
</html>