<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
        <form action="" v-on:submit.prevent="guardarTarea">
            <input v-model="nuevaTarea" type="text">
            <input type="submit" value="Guardar">
        </form>
        <hr>
        <ul>
            <li v-for="t in tareas">
            {{ t }}
            </li>
        </ul>
        <pre>{{ $data }}</pre>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                nuevaTarea: '',
                tareas: [],
            },
            methods: {
                guardarTarea(){
                    this.tareas.push(this.nuevaTarea);
                    this.nuevaTarea = '';
                }
            }
        });
    </script>
</body>
</html>