<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filtro</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <main>
        <input type="text" name="" id="" v-model="busqueda">
        <ul>
            <li v-for="juego in buscarJuego" >
                {{ juego.titulo | alReves }}
            </li>
        </ul>
        <input type="range" name="" id="" min="0" max="10" v-model="minimo">
        <pre>{{ $data }}</pre>
    </main>

    <script>
        Vue.filter('alReves', (valor) => valor.split('').reverse().join(''));
        

        new Vue({
            el: "main",
            data: {
                busqueda: "",
                minimo: 7,
                juegos: [
                    {
                        titulo: "Battlefield 1",
                        genero: "FPS",
                        puntuacion: 9
                    },
                    {
                        titulo: "Civilization VI",
                        genero: "Estrategia",
                        puntuacion: 10
                    },
                    {
                        titulo: "Resident Evil 7",
                        genero: "Survival Horror",
                        puntuacion: 2
                    }
                ]
            },
            computed: {
                mejoresJuegos(){
                    return this.juegos.filter((juego)=> juego.puntuacion >= this.minimo);
                },
                buscarJuego(){
                    return this.juegos.filter((juego) => juego.titulo.includes(this.busqueda))
                }
            }
        });
    </script>
</body>
</html>