<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main>
        <mis-tareas :listado="tareas">
            <template scope="datos">
                <li>{{ datos.title }}</li>
            </template>
        </mis-tareas>
        
        <pre>{{ $data }}</pre>
    </main>

    <template id="mis-tareas-template" >
        <ul>
            <slot v-for="tarea in listado" :title="tarea.titulo" ></slot>
            <!-- <li v-for="tarea in listado">{{ tarea.titulo }}</li> -->
        </ul>
    </template>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        Vue.component('mis-tareas',{
            props: ['listado'],
            template: '#mis-tareas-template'
        });

        new Vue({
            el: 'main',
            data: {
                tareas: [
                    { titulo: 'Salir a correr' },
                    { titulo: 'Recoger la casa' },
                    { titulo: 'Aprender vuejs' },
                    { titulo: 'Ir al gimnasio' },
                    { titulo: 'Leer cada dia' },
                ]
            }
        })
    </script>
</body>
</html>