<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Validar propiedades</title>
</head>
<body>
    <main>
        <candidato v-for="candidato in candidatos"
        :nombre="candidato.name.first"
        :correo="candidato.email"
        :imagen="candidato.picture.thumbnail"
        :location= "candidato.location">
        </candidato>

        <pre>{{ $data }}</pre>
    </main>

    <template id="candidato-template">
        <blockquote>
            <img :src="imagen" align="right">
            <h1>{{ nombre }}</h1>
            <h2>{{ correo }}</h2>
            <ul>
                <li v-for="(value, key, index) in location">{{ value }}</li>
            </ul>
            <hr>
        </blockquote>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        Vue.component('candidato', {
            props: {
                nombre: {type: String, required: true, },
                correo: {type: String, default: 'mynlop@mail.com'},
                imagen: String,
                location: {type: Object, 
                            default(){ 
                                return { 
                                    ciudad: 'Guatemala'
                                }
                            }
                        },
            },
            template: '#candidato-template',
        });

        new Vue({
            el: 'main',
            mounted(){
                this.obtenerCandidatos();
            },
            data: {
                candidatos: [],
            },
            methods: {
                obtenerCandidatos(){
                    axios.get('https://randomuser.me/api/?results=100')
                        .then((respuesta) => {
                            this.candidatos = respuesta.data.results;
                        })
                }
            }
        })
    </script>
</body>
</html>